<%- include('partials/header') %>
<%- include('partials/navbar') %>
<br>

display customer info here from database. 
<br>

<div class="container mt-4">
  <h4>Customer Information</h4>
  <table class="table table-bordered table-hover">
    <thead class="table-dark">
      <tr>
        <th>Customer ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <% customers.forEach(customer => { %>
        <tr>
          <td><%= customer.User_ID %></td>
          <td><%= customer.Name %></td>
          <td><%= customer.Email %></td>
          <td><%= customer.Phone %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<%- include('partials/footer') %>